.footer {
    background-color: #FAFAFA;
    text-align: center;
}
.footer br {
    display: block;
}
.footer__content {
    padding: 40px 25px;
    margin: 0 auto;
}
.footer__logo {
      margin-bottom: 24px;
}
.footer__logo img {
    width: auto;
    height: 35px;
}
.footer__contact {
    margin-bottom: 55px;
}
.footer__contact p {
    margin-bottom: 5px;
}
.footer__contact a {
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
}
.footer__socials {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding-bottom: 72px;
    max-width: 300px;
}
.footer__socials-icon {
    transition: 0.3s;
    width: 30px;
    height: 30px;
}
.footer__socials-icon:hover {
    transform: scale(1.3)  
}
.footer__info {
    display: flex;
    flex-direction: column;
}
.footer__address {
    font-size: 0.875rem;
    line-height: 32px;
    margin-bottom: 48px;
}
.footer__address p {
    margin-bottom: 0;
}
.footer__documents {
    display: flex;
    flex-direction: column;
    margin-bottom: 72px;
}
.footer__documents a {
    font-size: 0.875rem;
    line-height: 32px;
    color: black;
    letter-spacing: 0.2px;
    text-decoration-line: underline;
}
.footer__footer {
    display: flex;
    flex-direction: column;
}
.footer__copyright {
    font-size: 12px;
    letter-spacing: 0.2px;
    margin-bottom: 16px;
}
.footer__colaboration {
    color: #979797;
    font-size: 12px;
}
.footer__colaboration span {
    margin-left: 10px;
    margin-right: 15px;
}
.footer__colaboration img:first-of-type {
    width: auto;
    height: 30px;
}
.footer__colaboration img:last-of-type {
    width: auto;
    height: 27px;
}
.footer__right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
}
@media (min-width: 768px) { 
    .footer__content {
        padding: 60px 25px 32px 25px;
    }
    .footer__contact {
        margin-bottom: 76px;
    }
    .footer__socials-icon:hover {
        width: 40px;
    }
    .footer__info {
        flex-direction: row;
        justify-content: center;
        text-align: left;
    }
    .footer__address {
        margin-right: 60px;
    }
    .footer__footer {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
    .footer__copyright {
        margin-bottom: 0;
        margin-right: 20px;
    }
}
@media (min-width: 1024px) { 
    .footer {
        text-align: left;
    }
    .footer__content {
        display: flex;
        justify-content: space-between;
        padding: 112px 25px;
    }
    .footer__socials {
        padding-bottom: 0;
        justify-content: space-between;
        max-width: 200px;
        margin: 0;
    }
    .footer__socials-icon:hover {
        width: 30px;
    }
    .footer__info {
        justify-content: space-between;
    }
}
@media (min-width: 1440px) { 
    .footer__logo {
        margin-bottom: 20px;
    }
    .footer__contact {
        margin-bottom: 42px;
    }
}