.founder {
    background-color: #FAFAFA;
    overflow: hidden;
}
.founder__content {
    padding-top: 70px;
    margin: 0 auto;  
}
.founder__title {
    text-align: center;
    margin-bottom: 55px;
}
.founder__body {
    text-align: center;
}
.founder__quotes {
    width: 40px;
    height: 40px;
    margin-bottom: 30px;
}
.founder__description {
    font-size: 28px;
    line-height: 35px;
    color: #333333;
    margin-bottom: 60px;
}
.founder__info {
    margin-bottom: 50px;
}
.founder__photo img {
    width: 100%;
    margin-bottom: -40px;
}
@media (min-width: 768px) { 
    .founder {
        padding-right: 10px;
    }
    .founder__content {
        padding-top: 110px;
    }
    .founder__body {
        display: flex;
        text-align: left;
        align-items: center;
    }
    .founder__about {
        flex: 2;
    }
    .founder__quotes {
        margin-bottom: 10px;
    }
    .founder__description {
        margin-bottom: 60px;
    }
    .founder__photo {
        flex: 3;
    }
}
@media (min-width: 1024px) { 
    .founder__title {
        margin-bottom: 30px;
    }
    .founder__about {
        flex: 1;
    }
    .founder__photo {
        flex: 1;
        max-width: 480px;
    }
}
@media (min-width: 1440px) {
    .founder {
        padding-right: 60px;
    }
}
